@charset "utf-8";

.skip, legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: -999px;
  line-height: 0;
  display: inline-block;
}
#skipMenu {
  position: relative;
  width: 100%;
  z-index: 999;
}
#skipMenu a {
  position: absolute;
  top: -150px;
}
#skipMenu a:hover,
#skipMenu a:active,
#skipMenu a:focus {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  width: 100%;
}
.email {
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
}
.subpage_title {
  font-weight: normal;
  font-size: 40px;
  letter-spacing: -1px;
  position: relative;
}
.subpage_title:after {
  content: '';
  width: 56px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -35%;
  background: #000;
}
@media screen and (max-width:1600px) {
  .email {
    font-size: 1.15rem;
  }
  .subpage_title {
    font-size: 2.5rem;
    letter-spacing: -0.06rem;
  }
}
@media screen and (max-width:1280px) {
  .email {
    font-size: 0.93rem;
  }
  .subpage_title {
    font-size: 2rem;
  }
}
@media screen and (max-width:1024px) {
  .email {
    font-size: 0.76rem;
  }
  .subpage_title {
    font-size: 1.8rem;
  }
  .subpage_title:after {
    width: 4.5%;
    height: 6%;
    bottom: -25%;
  }
  .subpage_title.line_02:after {
    width: 80%;
  }
  .subpage_title.line_03:after {
    height: 2px;
  }
}
@media screen and (max-width:960px) {
  .subpage_title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width:768px) {
  .email {
    font-size: 0.72rem;
  }
  .subpage_title {
    font-size: 1.2rem;
  }
}
@media screen and (max-width:450px) {
  .subpage_title {
    font-size: 1.7rem;
  }
  .subpage_title:after {
    width: 12.5%;
    height: 2px;
  }
  .section01 .email {
    top: 50%;
  }
  .section03 .decoration a {
    display: none;
  }
}