@charset "utf-8";

/* header start */
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2% 5.3% 1% 5.3%;
  background: #fff;
  box-sizing: border-box; 
  z-index: 2;
  border-bottom: 1px solid #000;
}
header h1,
header nav ul li {
  font-weight: 400;
  font-size: 14px;
}
header h1 a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo_smile {
  font-size: 25px;
}
.logo_smile,
header nav ul li a div {
  padding-right: 16px;
}
header nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* menu start */
#menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  overflow: hidden;
  text-align: center;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
#menu ul a {
  transition: opacity 0.3s ease-in-out;
}
#menu ul:hover a {
  opacity: 0.5;
}
#menu ul a:hover {
  opacity: 1;
}
#menu .main_nav {
  position: relative;
  width: 100%;
  height: 100%;
}
#menu .main_nav .toggle_menu {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  display: flex;
  padding: 3.1% 5.3% 1% 5.3%;
}
#menu .main_nav .toggle_menu div {
  padding-right: 16px;
}
#menu .main_nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#menu .main_nav a {
  display: block;
  padding: 15px;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
}
#menu .main_nav a:first {
  padding-top: 0;
}
#menu .menu_linklist {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 45px;
  border-top: 1px solid #fff;
}
#menu .menu_linklist nav {
  width: 60%;
  margin: 0 auto;
}
.menu_linklist ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.menu_linklist a {
  display: inline-block;
  color: #fff;
}
/* menu open start */
#menu.open {
  opacity: 1;
  visibility: visible;
}
#menu.open li {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
#menu.open li:nth-child(1) {
  animation-delay: 0.1s;
}
#menu.open li:nth-child(2) {
  animation-delay: 0.2s;
}
#menu.open li:nth-child(3) {
  animation-delay: 0.3s;
}
#menu.open li:nth-child(4) {
  animation-delay: 0.4s;
}
/* menu open end */
/* menu end */
/* responsive start */
@media screen and (max-width:1600px) {
  #menu .menu_linklist {
    padding: 2.5%;
  }
}
@media screen and (max-width:768px) {
  #menu .main_nav a {
    font-size: 30px;
    padding: 5% 0;
  }
}
@media screen and (max-width:450px) {
  #menu .menu_linklist {
    padding: 7%;
  }
  #menu .menu_linklist nav {
    width: 85%;
  }
  #menu .main_nav a {
    font-size: 50px;
    padding: 5% 0;
  }
}

/* responsive end */
/* header end */

/* footer start */
footer {
  padding: 48px;
  border-top: 1px solid #000;
}
.animated-title {
  font-size: 200px;
  position: relative;
  width: 100%;
  height: 250px;
  padding-bottom: 119px;
  overflow: hidden;
}
.animated-title .flow_text {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: flow 25s linear infinite;
}
@keyframes flow {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
.footer_link {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 0 52px 65px 52px;
}
.footer_link ul:first-child {
  padding-right: 440px;
}
.footer_link ul li a {
  font-size: 32px;
  letter-spacing: -1px;
}
footer .email {
  font-size: 16px;
  text-align-last: left;
  padding-left: 52px;
  background:url(../img/email.png)
}

/* responsive start */
@media screen and (max-width:1600px) {
  footer {
    padding: 2.5%;
  }
  .animated-title {
    font-size: 190px;
    padding-bottom: 6.5%;
  }
  .footer_link {
    padding: 0 3% 3.5% 3%;
  }
  .footer_link ul:first-child {
    padding-right: 25.5%;
  }
  .footer_link ul li a {
    font-size: 1.8rem;
  }
  footer .email {
    font-size: 1rem;
    padding-left: 3%;
  }
}
@media screen and (max-width:1280px) {
  .animated-title {
    font-size: 180px;
  }
  .footer_link ul li a {
    font-size: 1.9rem;
  }
  footer .email {
    font-size: 0.8rem;
  }
}
@media screen and (max-width:1024px) {
  .animated-title {
    font-size: 150px;
    padding-bottom: 3%;
  }
  .footer_link ul li a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width:768px) {
  .animated-title {
    height: 170px;
    font-size: 100px;
  }
  .footer_link ul li a {
    font-size: 1.2rem;
  }
}
/* responsive end */
/* footer end */