.wrap {
  padding: 0 5.3%;
}
/* header start */
header nav ul {
  width: 100%;
  height: 15.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul li {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: -0.05em;
}
header nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo_smile {
  margin-right: 1.6rem;
  font-size: 2.5rem;
}
/* header end */