@charset "utf-8";

.section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
/* section01 start */
.section01 {
  padding: 200px 5.3% 0 5.3%;
}
.section01 .portfolio {
  font-size: 28px;
  letter-spacing: 5px;
  color: #999;
  margin-bottom: -10px;
  margin-top: 32px;
  font-weight: normal;
}
.section01 h2 {
  font-weight: 700;
  letter-spacing: -5px;
  font-size: 250px;
  margin-bottom: 65px;
}
.section01 p {
  width: 60%;
  font-weight: 500;
  font-size: 20px;
  line-height: 2.5;
}
.section01 h2,
.section01 p {
  animation: maintext 1s linear;
}
@keyframes maintext {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#scroll_btn {
  font-size: 24px;
  padding: 13px 65px;
  background: #fff;
  border: 1px solid #000;
  position: absolute;
  bottom: 10%;
  right: 5.3%;
  cursor: pointer;
  color: #000;
  transition: all .5s linear;
}
#scroll_btn:hover {
  background-color: #000;
  color: #fff;
}
/* section01 end */

/* section02 start */
.section02 {
  height: 100vh;
  padding: 0 5.3%;
}
.section02_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  padding-top: 205px;
}
.section02_wrap .link_list {
  width: 55%;
}
.section02_wrap .link_list ul li {
  border-bottom: 1px solid #000;
}
.section02_wrap .link_list ul li:first-child {
  border-top: 2.5px solid #000;
}
.section02_wrap .link_list ul li a{
  width: 100%;
  font-size: 40px;
  letter-spacing: -1px;
  display: inline-block;
  padding: 27px 0;
  position: relative;
}
.section02_wrap .link_list ul li a:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  top: 50%;
  right: 2%;
  transform: rotate(45deg) translate(-50%);
}
.section02_wrap .section02_title {
  width: 35%;
}
.section02_wrap .section02_title h2 {
  font-size: 60px;
  font-weight: normal;
  letter-spacing: -1px;
  margin-top: -50px;
}
.section02_wrap .section02_title div {
  font-size: 150px;
  transform: rotate(38.72deg);
  margin: 160px auto 0 auto;
  width: 379px;
  height: 130px;
}
/* section02 end */

/* section03 start */
.section03 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section03 .swiper {
  border: 1px solid #000;
  width: 100%;
  height: 100vh;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 0 5.3%;
  box-sizing: border-box;
}
.swiper-slide img {
  width: 1106px;
  height: 623px;
}
.portfolio_explain {
  width: 25%;
}
.portfolio_explain h2 {
  font-size: 60px;
  padding-bottom: 56px;
}
.portfolio_explain h2 span {
  font-size: 40px;
  padding: 0 10px;
}
.portfolio_explain p {
  width: 100%;
  height: 250px;
  line-height: 35px;
  margin-bottom: 35px;
}
.portfolio_explain .ex_text {
  overflow-y: scroll;
}
.ex_text::-webkit-scrollbar {
  width: 10px;
}
.ex_text::-webkit-scrollbar-thumb {
  height: 10%;
  background: rgb(199, 199, 199);
  border-radius: 10px;
}
.ex_text::-webkit-scrollbar-track {
  background: #f4f4f4;
  /* border: 1px solid #000; */
  border-radius: 10px;
}
.portfolio_explain a {
  padding: 8px 14px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 9px;
  transition: all 0.3s linear;
}
.portfolio_explain a:hover {
  background-color: #000;
  color: #fff;
}
.skill_explain {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 26px;
}
.ex_title {
  font-weight: bold;
}
.ex_title ul {
  padding-top: 16px;
  font-weight: normal;
}
/* section03 end */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid #000;
  /* opacity: 1; */
}
.swiper-pagination-bullet-active {
  background: #000;
  width: 12px;
  height: 12px;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 50px;
  left: 0;
  width: 100%;
}