footer { 
  background-color: #fff;
  border-top: 2px solid #eee;
}
.ft_banner_wrap {
  position: relative;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}
.ft_banner_h3 {
  float: left;
  width: 100px;
  text-align: center;
  font-size: 14px;
  line-height: 2rem;
}
.ft_bannerList{
  position: relative;
  width: 1100px;
  height: 70px;
  overflow: hidden;
}
.ft_bannerList .ft_banner {
  width: 1320px;
  position: absolute;
  top: 0;
  left: 0;
}
.ft_bannerList .ft_banner li {
  float: left;
  padding: 6px 15px 6px 15px;
}
.ft_btn {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
.ft_btn a {
  padding: 0 10px;
}
.ft_playBtn{display: none;}
.fnb {background-color:#373C4F;}
.fnb_wrap {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
}
.fnb_wrap a {
  line-height: 40px;
  color: #fff;
  margin-right: 30px;
  font-size: 14px;
}
.fnb_wrap a:first-child {color: #ffd562;}
.address_wrap {background-color: #eee;}
.address_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 130px;
  margin: 0 auto;
}
.address_inner .footer_logo {
  width: 112px;
  height: 45px;
}
.address_inner .footer_txt {
  font-size: 14px;
  line-height: 1.8em;
  color: #969696;
  font-weight: bold;
}
.wa {margin-right: 15px;}