@charset "utf-8";

#wrap,
.gnb {
  width: 100%;
  min-width: 1200px;
  position: relative;
}
.headerWrap {background-color: #fff;}
.navi {
  width: 100%;
  height: 40px;
  background-color: #373c4f;
}
.navi .sub_menu {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px;
}
.navi .sub_menu .subL {
  float: left;
  height: 40px;
}
.sub_menu .subL ul {padding: 0;}
.sub_menu .subL li {
  float: left;
  margin-right: 30px;
}
.sub_menu .subL a,
.sub_menu .subR a {
  color: #fff;
  font-size: 14px;
}
.sub_menu .subL li:first-child a {color: #ffd562;}
.navi .sub_menu .subR {
  float: right;
  position: relative;
  width: 200px;
}
.sub_menu .subR li {
  float: right;
  margin-left: 30px;
}
.lang_wrap {
  width: 130px;
  position: absolute;
  right: 52px;
  top: 50%;
  z-index: 2;
}
.lang_wrap .lang_btn {
  width: inherit;
  font-size: 14px;
  background-color:transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.lang_wrap .lang_btn i {margin-left: 5px;}
.lang_wrap .lang_sub {
  display: none;
  width: inherit;
  margin-top: 7px;
  background: #fff;
  border: 1px solid #ccc;
}
.lang_wrap .lang_sub a {
  display: block;
  padding: 7px;
  text-align: center;
  font-size: 16px;
  color: #222;
}
.lang_sub a:hover {background: #f5f5f5;}
.lang_wrap:hover .lang_sub {display: block;}
.logoSearch {
  position: relative;
  width: 1200px;
  height: 125px;
  margin: 0 auto;
}
.logoSearch .h1_logo img {
  position: absolute;
  top: 50%;
  left: 130px;
  transform: translateY(-50%);
  width: 190px;
  height: 23px;
}
.logoSearch .site_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.site_search .search {
  position: relative;
  width: 380px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.site_search .search .input_val{
  border: none;
  width: 310px;
  height: 25px;
}
.site_search .search input[type="submit"]{
  background: url(../img/main/keyword_btn.png) no-repeat 0 0;
  width: 18px;
  height: 17px;
  border: none;
  text-indent: -999px;
}
.tree {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.mandarin {
  position: absolute;
  top: 30px;
  left: 60px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ffd562;
  animation: mandarin 10s linear 0s infinite normal;
}
@keyframes mandarin {
  20% {
    transform: scale(1) rotate(-35deg) translate(150px, 250px);
  }
  100%{
    transform: scale(0.3, 0.3) translate(150px,250px);
    opacity: 0;
  }
}
/* 메뉴부분 시작 */
#gnb {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #373c4f;
  box-shadow: rgb(221, 221, 221) 0px 5px 5px 0px ;
  z-index: 99;
  background-color: #fff;
  /* margin-bottom: 50px; */
}
#gnb .gnbList {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5rem;
}
#gnb .gnbList:after {
  clear: both;
  content: '';
  display: block;
}
#gnb .gnbList > li > a {
  display: block;
  float: left;
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #222;
}
.gnb2_bg {
  display: none;
  left: 0;
  position: absolute;
  top: 71px;
  width: 100%;
  height: 800px;
  z-index: 9999;
}
#gnb .gnbList > li .gnb2 {
  padding: 10px 0;
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
#gnb .gnbList>li .gnb2>ul {
  float: left;
  padding-top: 30px;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 0;
}
.gnb2 > ul > li {
  float: left;
  width: 180px;
  line-height: 35px;
}
#gnb .gnbList > li .gnb2 > ul > li > a {
  display: block;
  padding: 3px 15px 3px 2px;
  font-size: 17px;
  font-weight: bold;
  color: #222;
}
#gnb .gnbList > li > a:hover {
  color: #ffd562;
  display: block;
}
.gnb2 > ul {width: 1200px;}
.gnb2 > ul > li {
  width: 300px;
  height: 230px;
  margin-right: 65px;
  font-size: 16px;
}
.gnb2 > ul > li > a {border-bottom: 1px solid #cccccc;}
.gnb2_ul {
  padding: 0;
  margin-top: 10px;
}
/* 메뉴부분 끝 */
