.faq {
  float: right;
  width: 895px;
  /* padding-bottom: 350px; */
}
.faq_p {
  border: 1px solid #d9d9d9;
  padding: 10px;
  margin: 20px auto;
  font-size: 12px;
}
.faqList {border-top: 1px solid #c3c3c3;}
.faq_dt {
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #c3c3c3;
  font-weight: 700;
  cursor: pointer;
  background: #f4f4f4;
  font-size: 12px;
}
.faq_dd {
  margin: 0;
  padding: 30px;
  background-color: #fff;
  line-height: 2;
  border-bottom: 1px solid #c3c3c3;
  font-size: 12px;
}